#serviceNameId{
  font-size: large;
}
#serviceImage{
  width: 33%;
  
  padding: 2px;
}
.img-with-text{
  width: 32%;
  height: 32%;
  display:block;

}
.padding {
  padding-bottom:20px;
}
.pointfont25 {
  font-size:25px;
}
.imageCircles {
  clip-path:circle();
}

.font50weight400 {
  font-size:50px;
  font-weight: 400;
}
.italics25px{
  font-style: italic; 
  font-size: 25px;
}
.services {
font-family:Verdana; 
text-align:center; 
font-size:18px; 
padding-top:25px;
}
.textDeco {
  text-decoration-line: underline;
}