#buttonBox{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display:inherit;
    float:inherit;
    border: 2px solid black;
    padding: 2px;
}
#productBox{
    position: relative;
    display: block;
    float: left;
    width: 200px;
}
span#productBox{
    border:2px solid black;
}