

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 120px;
  height:120px;
  
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  border: 1px solid black;
  padding: 10px;
  
}
#cart {
display:none;
}
#checkout {
  display:none;
}

.grid-item {
  border: 1px solid black;
  padding: 10px;
}
.counter{
  font-weight:bold;
}
.button {
  background-color: lightslategray;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 3px #111;
}

.button:hover {opacity: 1}